/* Apply a global box-sizing rule */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Style the body element */
body {
    font-family: 'Staatliches', cursive;
    background-color: white;
    color: white;
    letter-spacing: 3px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Style the card element */
.card {
    width: 200px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Style the headings */

h1, h2, h3  {
    color: rgb(137, 11, 11);
    margin: 10px 0;
    content: center;
}

/* Style the links */
a {
    text-decoration: none;
    color: rgb(12, 5, 5);
}

a:hover {
    color: #ff2a4a;
}

/* Style the buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #0056b3;
}

/* Add some color to the website */
body {
    background-color: #adc8d2;
    background-image: url('evp.jpg');
    background-size: 10px;
    opacity: 0.9;
    background-position: center;
}

.card {
    background-color: #1e9dcb;
}

.button {
    background-color: #1164bc;
}

